<!DOCTYPE html>
<html ng-app='ct-draw'>
<head>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/styles.css">
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="bower_components/paper/dist/paper-full.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="canvas.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="app.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
</head>
<body ng-controller='stats'>
	<nav class='navbar navbar-inverse' role='navigation'>
      <div class="container-fluid">
        <div class='navbar-header'>         
           <a class='navbar-brand' href="#">
            <img class='brand' src='pics/truthbomb.gif'>
           </a>
        </div>
          <ul class='nav navbar-nav '>
           <li><h1 class='navbar-text'>Drawn Together!</h1> </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
          	<h1 class='navbar-text' ng-show='oppReady'>Time Left: {{ timer }}</h1>
          </ul>
      </div>
    </nav>
	<div class='page-header center'>
	  <h1 ng-show='oppReady'>Opponent is Ready</h1>
	  <h1 ng-show='!go && oppReady'> Start in {{st}}</h1>
	  <h1 ng-show='go && oppReady'>Start!</h1>
	</div>
	<div class='center'>
	<canvas id="myCanvas" ></canvas>
	<canvas id="notMyCanvas" ></canvas>
	<img ng-hide='true' id='cat' src='pics/toad.jpg'>
	<div class='row'>
		<div class='btn-group btn-group-lg center width'>
		  <button  class='btn btn-danger width' ng-disabled='ready' ng-click='sendReady()'>Ready?</button>
		  <!-- <button class='btn btn-danger' ng-disabled='!ableStart' ng-click='startGame()'>START</button> -->
		</div>
	</div>
	</div>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>