<!DOCTYPE html>
<html ng-app='ct-draw'>
<head>
<link rel="stylesheet" type="text/css" href="styles/styles.css">
<script type="text/javascript" src="bower_components/paper/dist/paper-full.js"></script>
<script type="text/javascript" src="canvas.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="app.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
</head>
<body ng-controller='stats'>
	<h1> hi </h1>
	<!-- <canvas id="myCanvas"  draw></canvas> -->
	<!-- <draw > </draw> -->
	<canvas id="myCanvas" ></canvas>
	<img ng-hide='true' id='cat' src='pics/cat1.gif'>
	<div ng-click='deactivate()'>Stop drawing</div>
	<div ng-click='inspect()'>Inspect!</div>
	<div >
		base Color: {{ baseColor }}
	</div>
	<div>
		final Score: {{finalScore}}
	</div>
</body>
</html>