body {
  background-color: grey
}

canvas {
  background-color: white;
  /*background-image: url(../pics/cat1.gif)*/
  height: 300px;
  width: 500px;
  border-style: solid;
  border-color: grey;
}

img {
  height: 400px;
  width: 600px;
}

.brand {
  height: 40px;
  width: 40px;
}

.centered_div {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
}

