body {
  background-color: grey
}

canvas {
  background-color: white;
  height: 300px;
  width: 500px;
  border-style: solid;
  border-color: grey;
  margin-left: 10px
}

img {
  height: 400px;
  width: 600px;
  display: none;
}

#myCanvas {
  height: 550px;
  width: 900px;
}

#notMyCanvas {
  height: 300px;
  width: 500px;
  margin-bottom: 250px
}
.brand {
  height: 40px;
  width: 40px;
}

.centered_div {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
}

.center {
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    text-align: center;
    /*background-color: #b0e0e6;*/
}

div.width {
	width: 50%;
}
button.width {
  width : 100%;
}